/* Create Ticket specific styles */

#ticket-form {
    background-color: #f4f7f6;
}

#ticket-form h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}

#ticket-form form {
    max-width: 700px;
}

#ticket-form .cta-button {
    width: 100%;
    margin-top: 10px;
}